.navbar{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 15px 4%;
    background-color: #424242;
}

.navbar .logo{
    font-size: 30px;
    color: #E8B5B7;
}

.navbar .logotext{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 7px;
    color: #aeaeae;
}