.item{
    width: 250px;
    cursor: pointer;
    margin-bottom: 6vw;
    box-shadow: 5px 5px 25px #adadad;
    animation: fadeIn 1s;
    transition: .3s;
    margin-top: 1.5vw;
}

.info {
    display: flex;
    justify-content: space-between;
}

.listing-counter{
    display: flex;
    justify-content: right;
}

.counter{
    font-size: 20px; 
    margin-left: 10px;  
}

.add{
    margin: 6px 0px;
    height: 30px;
    width: 30px;
    background: #E8B5B7;
    font-size: 20px;
    color:#ffffff;
    border: 2px solid #E8B5B7;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    margin-left: 10px;
}

.subtract{
    margin: 6px 0px;
    height: 30px;
    width: 30px;
    background: #E8B5B7;
    font-size: 20px;
    color:#ffffff;
    border: 2px solid #E8B5B7;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    margin-right: 10px;
}

.add:hover{
    background-color: #e89ea1;
    border: 2px solid #e89ea1;
    height: 34px;
    width: 34px;
}

.subtract:hover{
    background-color: #e89ea1;
    border: 2px solid #e89ea1;
    height: 34px;
    width: 34px;
}



.image:hover{
    box-shadow: 0px 0px 15px #adadad;
}

.image{
    height: 250px;
    width: 250px;
    border-radius: 20px 20px 0px 0px;

}

.item p{
    margin: 9px 0px;
    font-size: 20px;
    font-weight: 500;
    color: #4b4b4b;

}

.item-prices{
    display: flex;
    gap:20px;
}

.item-price-new{
    font-size:18px;
    font-weight: 500;
    color: #696969;
}

.item-price-old{
    color: #949494;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: .6s;
}

@media (max-width:1050px){
    .item{
        width: 200px;
        height: 200px;
        margin-top: 4vw;
        margin-bottom: 10vw;
        margin-left:5vw

    }
    .image{
        height: 200px;
        width: 200px;
    }
}

@media (max-width:750px){
    .item{
        
        margin-top: 7vw;
        margin-bottom: 18vw;
        margin-left:5vw

    }
}

@media (max-width:500px){
    .item{
        
        margin-top: 9vw;
        margin-bottom: 29vw;
        margin-left:10vw

    }
}

@media (max-width:150px){
    .item{
        width: 150px;
        height: 150px;
        margin-top: 10vw;
        margin-bottom: 25vw;
        margin-left:10vw

    }
    .image{
        height: 150px;
        height: 150px;
    }
}