.succ{
    margin-top: 80px;
}

.title{
    font-size: 40px;
    padding-top: 0px;
    color: #E8B5B7;
}

.succ p{
    color: #696969;
    padding-top: 10px;
    font-size: 20px;
}

.details{
    padding-bottom: 160px;

}