.sidebar{
    width: 18%;
    min-height: 100vh;
    border:1.5px solid #a6a6a6;
    border-top: 0;
    font-size: max(1vw, 10px);
}

.options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a6a6a6;
    border-right:0 ;
    padding: 8px 10px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    color:#696969;
    transition: .3s;
}

.option:hover{
    border: 1px solid #E8B5B7;
    border-right:0 ;

}

.options img{
    width: 25px;
    height: auto;
}

.option.active{
    background-color: #fff0ed;
    border-color: #E8B5B7;
}

@media(max-width:900px){
    .option p{
        display:none;
    }
}