.verify{
    min-height: 60vh;
    display: grid;

}

.verify .spin{
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid #696969;
    border-top-color: #E8B5B7;
    border-radius: 50%;
    animation: rotate 1s infinite;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}